---
import NavBar from '../../components/nav-bar.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Pagina Proyectos2">
    <NavBar />
    <p>Componente que agregue al servicio</p>
</Layout>