---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>Bienvenido</h1>
  <h2>Selecciona una página:</h2>

  <nav style="display: flex; flex-direction: column; gap: 12px; margin-top: 20px;">
    <a href="./homePage/index.html">Ir al Contador</a>
    <a href="./perfilPage/index.html">Ir al Perfil</a>


  </nav>
</Layout>