---
const base = import.meta.env.PROD ? '/astro_lazo_prieto/' : '/';
const path = Astro.url.pathname;
---
<nav>
  <a href={`${base}homePage/homePage/`} class={path.endsWith('homePage/homePage/') ? 'active' : ''}>Home</a>
  <a href={`${base}perfilPage/perfilPage/`} class={path.endsWith('perfilPage/perfilPage/') ? 'active' : ''}>Perfil</a>
  <a href={`${base}proyecto/proyecto/`} class={path.endsWith('proyecto/proyecto/') ? 'active' : ''}>Proyectos</a>
  <a href={`${base}proyecto2/proyecto2/`} class={path.endsWith('proyecto2/proyecto2/') ? 'active' : ''}>Proyectos 2</a>
</nav>

<style>
  nav {
    background-color: #159;
    padding: 1rem;
  }
  a {
    color: white;
    margin-right: 1rem;
    text-decoration: none;
  }
  a.active {
    color: yellow;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: underline;
  }
</style>
